<div class="h-100 d-flex align-items-center justify-content-center">
  <table>
    <tr>
      <th>City Name</th>
      <th>City Country</th>
      <th>City Population (in M)</th>
      <th>City Latitude</th>
      <th>City Longitude</th>
    </tr>
    <tr *ngFor="let city of data">
      <td><input [(ngModel)]="city.name" placeholder="City Name" /></td>
      <td><input [(ngModel)]="city.country" placeholder="City Country" /></td>
      <td><input [(ngModel)]="city.population" placeholder="City Population" /></td>
      <td><input [(ngModel)]="city.lat" placeholder="City Latitude" /></td>
      <td><input [(ngModel)]="city.lng" placeholder="City Longitude" /></td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>